body {
  background-color:white;
}
#page {
  margin: 106px 70px 119px 90px;
}
#one {
  font-family: "Open Sans", serif;
  height: 16px;
  text-transform: uppercase;
  color: #E1624F;
}
h1{
  margin-top: 8px;
  width: 1120px;
  height: 49px;
  color: #1B1B1B ;
  font-family: Arial;
  position: relative;
  left: 0%;
}
#Busan-primeira-imagem {
  height: 660px ;
  width: 1220px;
  border-radius: 28px;
  margin-bottom: 24px;
  position: relative;
  left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#detalhes-de-busan{
  height: 37px;
  font-family: Arial;
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;  
}
.borda-bottom{
  border-bottom: solid #D9D9D9;
  margin-bottom: 40px; 
}
.borda-top {
  border-top: solid #D9D9D9;
}
#subtitle {
  margin-top: 64px;
  font-family: Arial;
  text-transform: uppercase;
  color: #E1624F;
}
h2 {
  margin-top: 2px;
  height: 44px;
  width: 643px;
  font-family: Arial black;
  color: #1B1B1B;
}
.paragrafo-1{
  font-family: Arial;
  color: #333333;
  height: 88px;
}
#Templo-haedong {
  height: 350px;
  width: 1220px;
  border-radius: 28px;
  margin-top: 64px;
  margin-bottom: 20px;
}
h3 {
  font-family: "Open Sans", serif;
  height: 38px;
  margin-bottom: 4px;
}
